<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://articlerestservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>articlerestservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ArticleRestService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ArticleRestService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:article007.database.windows.net,1433;Initial Catalog=article007;Persist Security Info=True;User ID=article007;Password=article_007" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SoaProject.Models.ApplicationDbContext, SoaProject" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="article007ConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:article007.database.windows.net,1433;Initial Catalog=article007;Persist Security Info=True;User ID=article007;Password=article_007" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:article007.database.windows.net,1433;Initial Catalog=article007;Persist Security Info=True;User ID=article007;Password=article_007" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\article007ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:article007.database.windows.net,1433;Initial Catalog=article007;Persist Security Info=True;User ID=article007;Password=article_007" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)article007ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:article007.database.windows.net,1433;Initial Catalog=article007;Persist Security Info=True;User ID=article007;Password=article_007</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:article007.database.windows.net,1433;Initial Catalog=article007;Persist Security Info=True;User ID=article007;Password=article_007</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>